/* Ingresa tu css aqui */
.container {
	width: 700px;
	margin: 0 auto;
	font-family: museo-sans;
	text-align: center;
}
a {
	text-decoration: none;

}
.navegador ul {
	list-style-type: none;
	border-top:1px solid black;
	border-bottom: 1px solid black;
	padding:0;
}
.navegador ul li{
	display: inline-block;
	padding: 10px 5px 10px 10px;
	font-size: 29px;
}
.navegador ul li a{
	color: black;
}
.textuno {
	padding:3px 150px;
	font-size: 23px;
	text-align: center;
}
.separador hr {
 	width:7%;
 	height: 3px;
 	background: #808080;
 	margin-top: 15px;
 	border:none;
}
.container h3{
	text-align: left;
}
.sepatres hr {
	size:15px;
 	width:7%;
 	height: 2px;
 	color: gray;
 	background: black;
 	margin: 0px  ;
}
.fotos {
	padding: 5px;
	position: relative;
	left: 20px;
}
.fotografia {
	display: inline;
	position: relative;
	padding: 0px;
	margin:5px;
}
.fotos .fotografia img {
	padding: 5px;
	padding: 0px;
	opacity: 0.8;
}
.fotografia a {
	text-decoration: none;
	display: inline;
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: white;
}
.fotos .fotografia a:hover{
	border-bottom: 1px solid blue;
}
.fotos .fotografia img:hover{
	opacity: 1;
}

